/*#anchorPane {*/
	/*-fx-background-color: linear-gradient(to right bottom,#FFFF00,#FE2E64);*/
/*}*/

#btnConfirm {
	-fx-background-color: #fff;
	-fx-font-color: #000;
}

#btnConfirm:hover {
	-fx-background-color: #2E64FE;
}