#anchorPane {
	-fx-background-color : linear-gradient(#FF8000,#FFFF00);
}

#btnSendEmail:hover {
	-fx-background-color: #2E64FE;
}


#btnConfirm:hover {

	-fx-background-color: #2E64FE;
}

#btnBack:hover {

	-fx-background-color: #2E64FE;
}
