#anchorPane {
	-fx-background-color : linear-gradient(to right bottom,#FFFF00,#FE2E64);
}

#btnSendEmail:hover {
	-fx-background-color: #2E64FE;
}


#btnConfirm:hover {

	-fx-background-color: #2E64FE;
}

#btnBack:hover {

	-fx-background-color: #2E64FE;
}
