#anchorPane {
	-fx-background-color : linear-gradient(to right bottom,#FFFF00,#FE2E64);
}


#btnBack {
	-fx-background-color: #fff;
	-fx-font-color: #000;
}

#btnBack:hover {
	-fx-background-color: #2E64FE;
}

#btnSendCode {
	-fx-background-color: #fff;
	-fx-font-color: #000;
}

#btnSendCode:hover {

	-fx-background-color: #2E64FE;
}
