#anchorPane {
	-fx-background-color : linear-gradient(to right bottom,#FFFF00,#FE2E64);
}


#buttonLogin {
	-fx-background-color: #fff;
	-fx-font-color: #000;
}

#buttonLogin:hover {
	-fx-background-color: #2E64FE;
}

#buttonForgotPassword {
	-fx-background-color: #fff;
	-fx-font-color: #000;
}

#buttonForgotPassword:hover {

	-fx-background-color: #2E64FE;
}

#buttonRegister {
	-fx-background-color: #fff;
	-fx-font-color: #000;
}

#buttonRegister:hover {

	-fx-background-color: #2E64FE;
}