#anchorPane {
	-fx-background-color: linear-gradient(to right bottom,#FFFF00,#FE2E64);
}

#btnBack {
	-fx-background-color: #fff;
	-fx-font-color: #000;
}

#btnBack:hover {
	-fx-background-color: #2E64FE;
}

#btnChangeUsername {
	-fx-background-color: #fff;
	-fx-font-color: #000;
}

#btnChangeUsername:hover {
	-fx-background-color: #2E64FE;
}

#btnChangePassword {
	-fx-background-color: #fff;
	-fx-font-color: #000;
}

#btnChangePassword:hover {
	-fx-background-color: #2E64FE;
}

#btnChangeEmail {
	-fx-background-color: #fff;
	-fx-font-color: #000;
}

#btnChangeEmail:hover {
	-fx-background-color: #2E64FE;
}

#btnChangeName {
	-fx-background-color: #fff;
	-fx-font-color: #000;
}

#btnChangeName:hover {
	-fx-background-color: #2E64FE;
}



